<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <title>Mello</title>
  </head>
  <body>
    <div class="ui">
      <nav>
        <div class="nav--left">
          <span>Mello</span>
          <a href="#">My Boards</a>
          <a href="#">Contributors</a>
        </div>
        <div class="nav--right">
          <a href="#">Logout</a>
        </div>
      </nav>
      <header><h1>My Board</h1></header>
      <div class="container">

      </div>
    </div>
  </body>
</html>